* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", serif;
  /* background-color: #f9f9f9; */
}

a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  color: #000;
}

/* Primary and Secondary Colors */
.primary-color {
  color: #007bff;
}

.primary-bg {
  background-color: #007bff;
}

.secondary-color {
  color: #1a1a1a;
  /* color: #f4b400;  */
}

.secondary-bg {
  background-color: #1a1a1a;
  /* background-color: #f4b400;  */
}
